---
// src/components/Acercade.astro

import imagen1 from "../../assets/acercade/seccion1.png";
import imagen2 from "../../assets/acercade/seccion2.png";
---

<section id="acercade"  class="pb-24 flex flex-col items-center mt-10">
  <div class="w-4/5 ">
    <!-- SECCIÓN 1 -->
    <div class="grid lg:grid-cols-2 gap-20 items-center">
      <div>
        <!-- IMAGEN 1 -->
        <img
          src={imagen1.src}
          alt="Acerca de HBL"
          class="w-full h-[400px] object-cover rounded-xl brightness-75 hover:brightness-100 transition duration-500"
        />
      </div>

      <div class="">
        <h2 class="text-4xl font-bold leading-tight">
          <span class="block text-white"> TU HISTORIA </span>

          <span class="block text-titulos"> NUESTRA INSPIRACIÓN </span>
        </h2>
        <!-- texto 1 -->
        <div class="text-textos text-xs md:text-lg mt-8 tracking-wide space-y-2 leading-8  text-justify">
          <p>
            Sabemos que cada marca es única y tiene necesidades específicas. Por
            eso, en HORECA BRANDING LAB ofrecemos total flexibilidad para
            adaptar nuestros servicios y crear un plan personalizado.
          </p>

          <p>
            Combinando únicamente lo que necesitas y ajustándonos a tus
            objetivos, tiempos y presupuesto.
          </p>

          <p>
            Tanto si estás comenzando como si deseas consolidar o hacer crecer
            tu marca, diseñamos una propuesta ajustada a tu realidad.
          </p>

          <p>
            Cuéntanos qué necesitas y crearemos una solución totalmente a tu
            medida.
          </p>
        </div>
      </div>
    </div>

    <!-- SECCIÓN 2 -->
    <div class="grid lg:grid-cols-2 gap-20 items-center mt-32">
      <div class="max-w-xl">
        <!-- titulo 2 -->
        <h2 class="text-2xl md:text-4xl font-bold">
          <span>QUIÉNES</span>
          <span class="text-titulos">SOMOS</span>
        </h2>
        <!-- TEXTO 2 -->
        <div
          class="text-textos text-xs md:text-lg mt-8 tracking-wide space-y-2 leading-8 max-w-2xl text-justify"
        >
          <p>
            En HORECA BRANDING LAB somos un equipo multidisciplinario
            especializado en el sector HORECA.
          </p>
          <p>
            Combinamos creatividad, estrategia y conocimiento para construir
            marcas sólidas, auténticas y con propósito.
          </p>
          <p>
            Diseñamos experiencias de marca que conectan, diferencian y hacen
            crecer tu negocio.
          </p>
        </div>
      </div>
      <!-- IMAGEN 2 -->
      <div>
        <img
          src={imagen2.src}
          alt="Quiénes somos"
          class="w-full h-[400px] object-cover rounded-3xl brightness-75 hover:brightness-100 transition duration-500"
        />
      </div>
    </div>
  </div>
</section>
