---
// src/components/Contacto.astro

const servicios = [
  "Branding",
  "Social Media",
  "Fotografia",
  "Marketing",
  "Desarrollo Web",
  "Consultoria",
];
---

<section
  id="contacto"
  class="py-12"
>
  <div class="w-4/5 mx-auto">
    <!-- TITULO -->

    <div class="text-center mb-8">
      <h2
        class="text-white text-1xl md:text-4xl lg:text-4xl font-semibold md:font-bold uppercase tracking-wider"
      >
        Queremos saber más de ti.
      </h2>

      <h3
        class="text-titulos text-1xl md:text-4xl lg:text-4xl font-extrabold uppercase md:mt-3"
      >
        Contáctanos
      </h3>
    </div>

    <div class="grid lg:grid-cols-[320px_1fr] gap-4 lg:gap-6">
      <!-- RECUADRO HABLEMOS-->
      <div
        class="border border-principal rounded-xl p-5 px-10"
      >
        <h4 class="text-titulos text-1xl font-light mb-8">Hablemos</h4>

        <div class="space-y-3">
          <div class="flex items-start gap-2">
            <i class="fa-solid fa-phone text-titulos text-lg mt-1"></i>
            <div>
              <p class="font-light text-sm">Teléfono</p>
              <p class="text-textos text-xs font-light">+52 000 000 0000</p>
            </div>
          </div>

          <div class="flex items-start gap-2">
            <i class="fa-solid fa-envelope text-titulos text-lg mt-1"></i>
            <div>
              <p class="font-light text-sm">Correo electrónico</p>
              <p class="text-textos text-xs font-light break-all">
                contacto@horecabrandinglab.com
              </p>
            </div>
          </div>

          <div class="flex items-start gap-2">
            <i class="fa-solid fa-location-dot text-titulos text-lg mt-1"></i>
            <div>
              <p class="font-light text-sm">Ubicación</p>
              <p class="text-textos text-xs font-light">Querétaro, México</p>
            </div>
          </div>
        </div>

        <button
          class="mt-10 w-full py-2 rounded-xl border border-[#8B5CF6] text-white font-light hover:bg-[#8B5CF6] transition-all duration-300´"
        >
          Contáctanos por
          <i class="fa-brands fa-whatsapp"></i>
        </button>
      </div>

      <!-- FORMULARIO -->
      <form class="space-y-3">
        <div class="grid md:grid-cols-2 gap-2">
          <input
            type="text"
            placeholder="Nombre Completo"
            class="input-contacto"
          />

          <input
            type="text"
            placeholder="Nombre de la empresa"
            class="input-contacto"
          />

          <input
            type="tel"
            placeholder="Número de teléfono"
            class="input-contacto"
          />

          <input
            type="email"
            placeholder="Correo electrónico"
            class="input-contacto"
          />
        </div>

        <div class="input-contacto">
          <p class="text-textos text-sm mb-2">Servicios que te interesan</p>

          <div class="flex flex-wrap gap-2">
            {
              servicios.map((servicio) => (
                <label class="cursor-pointer">
                  <input type="checkbox" class="peer hidden" />

                  <span
                    class="px-3 py-1 border border-purple-500/40 rounded-full text-white text-sm 
        hover:bg-purple-500/10 transition 
        peer-checked:bg-purple-500 peer-checked:text-white"
                  >
                    {servicio}
                  </span>
                </label>
              ))
            }
          </div>
        </div>

        <textarea
          rows="4"
          placeholder="Cuéntanos sobre tu proyecto"
          class="input-contacto resize-none"></textarea>

        <button
          type="submit"
          class="w-full py-2 md:py-5 rounded-[5px] font-light5 uppercase text-white bg-gradient-to-r from-titulos to-[#4F119F] hover:scale-[1.01] transition-all duration-300"
        >
          Enviar información
        </button>

        <p class="text-center text-textos text-xs md:text-sm">
          <i class="fa-solid fa-user-shield text-titulos"></i>
          Tu información está segura con nosotros
        </p>
      </form>
    </div>
  </div>
</section>

<style>
  .input-contacto {
    width: 100%;
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    padding: 0.7rem 2rem;
    color: white;
    outline: none;
    transition: all 0.3s ease;
  }

  .input-contacto::placeholder {
    color: var(--color-textos);
    font-size: 0.875rem;
  }

  .input-contacto:focus {
    border-color: rgb(139, 92, 246);
    box-shadow: 0 0 20px rgba(139, 92, 246, 0.2);
  }

  .input-contacto option {
    background: #111;
    color: white;
  }
</style>
