---
//Este archivo se importa en el MainLayout, checa que las rutas son por medio de etiquetas a entonces
//es mucho mas facil hacer navegacion 
---





<nav style="display: flex; justify-content: space-between; padding: 2rem; background: #050505;">
  <div class="logo"><a href="/"><strong>HBL</strong></a></div>
  <div class="links" style="display: flex; gap: 2rem;">
    <a href="/">INICIO</a>
    <a href="/servicios/branding">SERVICIOS</a>
    <a href="/#contacto">CONTACTO</a>
  </div>
</nav>